# Virtual environment folder
cleanenv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Environment variables
.env

# VS Code
.vscode/

# JetBrains IDEs (PyCharm, IntelliJ)
.idea/

# MacOS files
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/

# Others
*.sqlite3
*.swp
*.swo
