body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7F5F3;
}

.title{
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
}

.descrip{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
}

.theform{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#topform{
    margin-bottom: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-preview {
    margin-top: 20px;
}

#name{
    width:400px;
    background: none;
    border: none;
    border-bottom: 1px solid #21C063;
    border-radius: 0; /* removes any rounding */
    caret-color: #21C063; /* green caret */
}

#name:active{
  background-color: transparent !important;
  color: inherit !important; /* use default text color */
  box-shadow: none !important;
      border-bottom: 1px solid #21C063;
          border-radius: 0; /* removes any rounding */
}

#name:focus{
   background-color: transparent !important;
  color: inherit !important; /* use default text color */
  box-shadow: none !important;
      border-bottom: 1px solid #21C063;
          border-radius: 0; /* removes any rounding */
}

.nextbutton{
    margin-top: 20px;
    background-color: #25D366;
    border-color: #71EB85 !important;
    width: 100px;

}
.nextbutton:hover {
    background-color: #21C063 !important;
    border-color: #71EB85!important;
    box-shadow: 0 0 0 0.2rem rgba(148, 242, 164, 0.5) !important;
}

.nextbutton:active {
    background-color: #71EB85 !important;
    border-color: #E7FCE3 !important;
    color: #ffffff !important;
    box-shadow: 0 0 0 0.2rem rgba(148, 242, 164, 0.5) !important;
}

.nextbutton:focus {
    box-shadow: 0 0 0 0.2rem rgba(148, 242, 164, 0.5) !important;
    background-color:  #71EB85 !important;
    border-color: #71EB85!important;
}



@media (max-width: 768px) {
    body{
        height:80%;
    }
    .theform{
    margin-top: 20px;
    width: 80%;
}
    #name{
    width: 80vw;
}
.descrip{
    padding: 0 20px;
}
}

